.background {
  min-height: 1100px;
  width: auto;
  display: block;
  position: relative;
}

main::before {
  content: "";
  background-image: url("assets/bricks.jpg");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.navbar-brand {
  font-family: "Gochi Hand", cursive;
  font-size: 35px;
}

.navbar {
  position: sticky;
  top: 1px;
  z-index: 1;
  border-bottom: 1px solid black;
}

h3 {
  color: rgb(20, 131, 200);
}
/* footer fixed at the bottom of the page */
.footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 5px;
  background-color: rgb(39, 39, 38);
  text-align: center;
  color: ivory;
}

/* spacing from the top */
.spacing {
  padding-top: 20px;
}

/* contacts */

.inputs {
  padding-top: 50px;
}

.btn {
  margin-top: 20px;
}

/* homepage */

img {
  width: 100%;
  height: inherit;
}

.about {
  padding-top: 30px;
}

/* portfolio */

.gallery {
  max-width: 900px;
  margin-left: 10px;
}

.gallery img {
  border: 2px solid black;
  /* padding: 5px; */
  width: 300px;
}

.galleryHeader {
  margin-left: 10px;
}

.work {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
}

main p {
  position: relative;
  bottom: 5px;
  top: 15px;
}

.workDescription {
  font-size: 20px;
  color: rgb(20, 131, 200);
}
