.background {
  /* content: ""; */
  background-image: url("/homework2/water.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h3 {
  color: rgb(20, 131, 200);
}

.footer {
  position: fixed;
  bottom: 5px;
  background-color: ivory;
  clear: both;
  text-align: center;
}

.spacing {
  margin-top: 20px;
}

/* contacts */

.inputs {
  margin-top: 50px;
}

/* homepage */

img {
  width: 100%;
  height: inherit;
}

.about {
  margin-top: 30px;
}

/* portfolio */

.gallery {
  background-color: ivory;
  max-width: 850px;
}

.gallery img {
  padding: 5px;
  width: 180px;
}
