/* pseudo section to wrap all the content */
/* .background {
  display: block;
  position: relative;
  z-index: 1;
} */

/* set the opacity of background image */
/* .content::before {
  background-image: url("/Responsiveness-Portfolio/water.jpg");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.background {
  min-height: 1100px;
  width: auto;
  display: block;
  position: relative;
}

main::before {
  content: "";
  background-image: url("assets/water.jpg");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h3 {
  color: rgb(20, 131, 200);
}
/* footer fixed at the bottom of the page */
.footer {
  position: fixed;
  bottom: 5px;
  background-color: ivory;
  text-align: center;
}

/* spacing from the top */
.spacing {
  margin-top: 20px;
}

/* contacts */

.inputs {
  margin-top: 50px;
}

/* homepage */

img {
  width: 100%;
  height: inherit;
}

.about {
  margin-top: 30px;
}

/* portfolio */

.gallery {
  background-color: ivory;
  max-width: 850px;
  margin-left: 10px;
}

.gallery img {
  padding: 5px;
  width: 180px;
}

.galleryHeader {
  margin-left: 10px;
}
